<div class="ui-g-6 ui-md-6 ui-lg-6">
    <p-panel>
        <p-header>
            <div class="panel-header">MARKETING CAMPAIGN</div>
            <div class="panel-tools">
                <i class="fa fa-refresh"></i>
                <i class="fa fa-chevron-down"></i>
                <i class="fa fa-times"></i>
            </div>
        </p-header>
        <div class="chart-container">
            <p-chart type="doughnut" height="170px" [data]="data"></p-chart>
        </div>
    </p-panel>
</div>