.position {
    position: fixed;
    z-index: 2;

    .hide-show-button {
        background-color: #85c875;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        font-size: 18px;
        color: #fff;
        position: relative;
        left: 290px;
        top: 4px;
        text-align: center;
        line-height: 35px;
    }
}

.place-button {
    left: 20px !important;
}

.dashboard {
    transition: all 0.3s;
    margin-left: 315px;
}

.expand {
    margin-left: 0;
}

.hide {
    width: 0;
}