/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f1f1f1;
  font-family: "Lato", sans-serif;
  color: #777777;
  margin: 0;
}

.position {
  position: fixed;
  z-index: 2;
}

.position .hide-show-button {
  background-color: #85c875;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  font-size: 18px;
  color: #fff;
  position: relative;
  left: 295px;
  top: 13px;
  text-align: center;
  line-height: 35px;
  transition: 0.3s;
}

.place-button {
  left: 10px !important;
}

.dashboard {
  transition: all 0.3s;
  margin-left: 305px;
}

.expand {
  margin-left: 0;
}

.hide {
  width: 0;
}

.display {
  display: none;
}
