<div class="ui-g-12 ui-md-12 ui-lg-4">
    <p-panel class="trafficSourcesPanel">
        <p-header>
            <div class="panel-header">
                TRAFFIC SOURCES
            </div>
            <div class="panel-tools">
                <i class="fa fa-chevron-down"></i>
                <i class="fa fa-times"></i>
            </div>
        </p-header>
        <p-dataList [value]="trafficSources" class="trafficSourcesTable">
            <ng-template let-trafficSource pTemplate="item">
                <div class="ui-g">
                    <div class="ui-g-4 ui-md-4 ui-lg-4">
                        <div class="table-text">{{trafficSource.text}}</div>
                    </div>
                    <div class="ui-g-4 ui-md-4 ui-lg-4">
                            <div class="table-numbers">{{trafficSource.numbers}}</div>
                    </div>
                    <div class="ui-g-4 ui-md-4 ui-lg-4">
                        <p-chart type="line" height="50px" [data]="trafficSource.chart" [options]="chartOptions" (onDataSelect)="selectData($event)">
                        </p-chart>
                    </div>
                </div>
            </ng-template>
        </p-dataList>
    </p-panel>
</div>