@import '..\\dashboard.component';

.trafficSourcesTable {

    .ui-datalist, .ui-widget {
        margin-top: -20px;
        margin-bottom: 10px;

        .ng-star-inserted {
            .ui-g {
                margin-bottom: -15px; 
            }
        }
    }
    .ui-widget-content {
        border: none;

        ul.ui-datalist-data {
            li.ng-star-inserted {
                &:first-child {
                    .table-text {
                        background-color: $darker-blue;
                    }
                }
                &:nth-child(2) {
                    .table-text {
                        background-color: $light-blue;
                    }
                }
                &:nth-child(3) {
                    .table-text {
                        background-color: $light-yellow;
                    }
                }
                &:nth-child(4) {
                    .table-text {
                        background-color: $light-green;
                    }
                }
                &:last-child {
                    .table-text {
                        background-color: #ff6633;
                    }
                }
            }
        }

        .table-text {
            height: 27px;
            width: 80%;
            border-radius: 14px;
            margin: auto;
            font-size: 16px;
            color: #fff;
            text-align: center;
            line-height: 27px;
        }

        .table-numbers {
            color: $font-color;
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            margin: auto;
        }
    }
}

@media screen and (max-width: 1280px) {
    .trafficSourcesTable .ui-widget-content .table-numbers {
        font-size: 14px;
    }

    .trafficSourcesTable .ui-widget-content .table-text {
        font-size: 13px;
    }
}