.ui-widget-header {
  background: #fff;
}

.ui-panel {
  box-shadow: 0 0 4px 1px #bdc1c5;
}

.panel-header {
  display: inline-block;
  color: #777777;
  font-size: 13px;
  padding: 10px 10px;
  font-weight: 600;
}

.panel-tools {
  display: inline-block;
  float: right;
  font-size: 17px;
  color: #a8a8a8;
}

.panel-tools i {
  padding: 10px 10px;
}

.item {
  display: inline-block;
  width: 20%;
  padding: 2% 0% 2% 10%;
}

.item:first-child {
  padding-left: 5%;
}

.trafficSourcesTable .ui-datalist, .trafficSourcesTable .ui-widget {
  margin-top: -20px;
  margin-bottom: 10px;
}

.trafficSourcesTable .ui-datalist .ng-star-inserted .ui-g, .trafficSourcesTable .ui-widget .ng-star-inserted .ui-g {
  margin-bottom: -15px;
}

.trafficSourcesTable .ui-widget-content {
  border: none;
}

.trafficSourcesTable .ui-widget-content ul.ui-datalist-data li.ng-star-inserted:first-child .table-text {
  background-color: #3366ff;
}

.trafficSourcesTable .ui-widget-content ul.ui-datalist-data li.ng-star-inserted:nth-child(2) .table-text {
  background-color: #00cccc;
}

.trafficSourcesTable .ui-widget-content ul.ui-datalist-data li.ng-star-inserted:nth-child(3) .table-text {
  background-color: #f1a80a;
}

.trafficSourcesTable .ui-widget-content ul.ui-datalist-data li.ng-star-inserted:nth-child(4) .table-text {
  background-color: #85c875;
}

.trafficSourcesTable .ui-widget-content ul.ui-datalist-data li.ng-star-inserted:last-child .table-text {
  background-color: #ff6633;
}

.trafficSourcesTable .ui-widget-content .table-text {
  height: 27px;
  width: 80%;
  border-radius: 14px;
  margin: auto;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 27px;
}

.trafficSourcesTable .ui-widget-content .table-numbers {
  color: #777777;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin: auto;
}

@media screen and (max-width: 1280px) {
  .trafficSourcesTable .ui-widget-content .table-numbers {
    font-size: 14px;
  }
  .trafficSourcesTable .ui-widget-content .table-text {
    font-size: 13px;
  }
}
