@import '..\\dashboard.component';

.ui-g {
    div:first-child {
        .box {
            margin-left: 0;
        }
    }

    div:nth-child(2) {
        .box {
            margin-left: 5%;
        }
    }

    div:nth-child(3) {
        .box {
            margin-left: 10%;
        }
    }
    div:last-child {
        .box {
            margin-left: 0;
            float: right;
        }
    }
}

.box {
    height: 175px;
    width: 80%;
    border: 1px solid #d9d5d5;
    background-color: #fff;
    box-shadow: 0 0 4px 1px #bdc1c5;

    .icon-container {
        border-bottom: 1px solid #d9d5d5;

        .box-icon {
            color: #0bc4df;
            font-size: 31px;
            margin: 28px auto 30px auto;
            width: 15%;
            text-align: center;
        }
    }

    .title {
        border: 1px solid #d9d5d5;
        border-radius: 12px;
        padding: 1px 10px;
        width: 35%;
        text-align: center;
        font-size: 13px;
        z-index: 1;
        margin: -10px auto 0px auto;
        background-color: #fff;
    }

    .numbers {
        font-size: 18px;
        font-weight: 600;
        color: #666666;
        width: 67%;
        margin: 18px auto 28px auto;
        text-align: center;

        .fa-long-arrow-up {
            color: #ff5e3a;
        }
        
        .fa-dot-circle-o {
         color: #f1ab13;
        }
        
        .fa-usd {
         color: #1e75eb;
        }
        
        .fa-rocket {
            color: $light-green;
        }

        .percent {
            color: #ff5e3a;
            font-size: 15px;
            display: inline-block;
        }
    }
}


@media only screen and (max-width: 1207px) {
    .ui-g div:nth-child(2) .box {
        margin-left: 0;
        float: right;
    }

    .ui-g div:nth-child(3) .box {
        margin-left: 0;
    }
}


