<div class="ui-g-12 ui-md-8 ui-lg-8">
    <p-panel >
        <p-header>
            <div class="panel-header">
                TOP SEARCH
                <i class="fa fa-caret-down"></i>
            </div>
            <div class="panel-tools">
                <i class="fa fa-refresh"></i>
                <i class="fa fa-chevron-down"></i>
                <i class="fa fa-times"></i>
            </div>
        </p-header>
        <p-footer>
                Footer content here
        </p-footer>
    </p-panel>
</div>