.ui-widget-header {
  background: #fff;
}

.ui-panel {
  box-shadow: 0 0 4px 1px #bdc1c5;
}

.panel-header {
  display: inline-block;
  color: #777777;
  font-size: 13px;
  padding: 10px 10px;
  font-weight: 600;
}

.panel-tools {
  display: inline-block;
  float: right;
  font-size: 17px;
  color: #a8a8a8;
}

.panel-tools i {
  padding: 10px 10px;
}

.item {
  display: inline-block;
  width: 20%;
  padding: 2% 0% 2% 10%;
}

.item:first-child {
  padding-left: 5%;
}

.ui-panel-content .ui-g {
  margin-bottom: -14px;
}

#topSearchesTable .ui-datalist-content {
  color: #777777;
  margin-top: -50px;
  margin-right: -20px;
}

#topSearchesTable .ui-widget-content {
  border-left: 1px solid #D5D5D5;
  border-right: none;
  border-bottom: none;
  border-top: none;
}

#topSearchesTable .ui-widget-content .ui-datalist-data li.ng-star-inserted {
  border-bottom: 1px solid #D5D5D5;
  padding: 3px;
}

#topSearchesTable .ui-widget-content .ui-datalist-data li.ng-star-inserted div.ng-star-inserted {
  margin: 0;
  padding: 5px;
}

#topSearchesTable .ui-widget-content .ui-datalist-data li.ng-star-inserted div.ng-star-inserted .ui-g-5, #topSearchesTable .ui-widget-content .ui-datalist-data li.ng-star-inserted div.ng-star-inserted .ui-md-5, #topSearchesTable .ui-widget-content .ui-datalist-data li.ng-star-inserted div.ng-star-inserted .ui-lg-5 {
  text-align: center;
}

#topSearchesTable .ui-widget-content .ui-datalist-data li.ng-star-inserted div.ng-star-inserted .ui-g-7, #topSearchesTable .ui-widget-content .ui-datalist-data li.ng-star-inserted div.ng-star-inserted .ui-md-7, #topSearchesTable .ui-widget-content .ui-datalist-data li.ng-star-inserted div.ng-star-inserted .ui-lg-7 {
  line-height: 24px;
}

#topSearchesTable .ui-widget-content .ui-datalist-data li.ng-star-inserted:last-child {
  border-bottom: none;
}

#topSearchesTable .searchCountryImg {
  height: 50px;
}

#topSearchesTable .coutry-name {
  font-size: 16px;
  text-align: center;
}

#topSearchesTable .search-percent {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 1280px) {
  #topSearchesTable .coutry-name {
    font-size: 14px;
  }
  #topSearchesTable .search-percent {
    font-size: 16px;
  }
}
