.chart-container {
    height: 315px;
}

.fa-bar-chart {
    font-size: 32px;
    color: #00cccc;
    padding-top: 8px;
}

.fill-color {
    color: #f1a80a;
}

.visitors-details-title {
    font-size: 16px;
    color: #777777;
}

.visitors-details-value {
    font-size: 18px;
    font-weight: 600;
    color: #777777;
}