@import '..\\dashboard.component';

.recentOrdersTable {

    .ui-datatable-tablewrapper {
        border: none;

        .ui-state-default {
            border: none;
            border-bottom: 1px solid #e8e8e8;
            background: #fff;
            font-size: 15px;
            font-weight: 600;
            color: $font-color;
        }
    }

    tbody.ui-datatable-data {
        tr.ui-widget-content {
            &:first-child {
                td.ng-star-inserted {
                    &:first-child {
                        span::before {
                            content: url(/assets/guide.jpg);
                          }
                    }
                }
            }

            &:nth-child(3) {
                td.ng-star-inserted {
                    &:first-child {
                        span::before {
                            content: url(/assets/guide3.jpg);
                        }
                    }
                }
            }
             
            &:first-child, &:nth-child(3) {
                td.ng-star-inserted {
                    &:nth-child(4) {
                        span {
                            padding: 3% 20%;
                            border-radius: 14px;
                            margin: auto;
                            font-size: 16px;
                            color: #fff;
                            text-align: center;
                            line-height: 27px;
                            background-color: $light-blue;
                        }
                    }
                }
            }
            &:nth-child(2) {
                td.ng-star-inserted {
                    &:first-child {
                        span::before {
                            content: url(/assets/guide2.jpg);
                        }
                    }

                    &:nth-child(4) {
                        span {
                            padding: 3% 12%;
                            border-radius: 14px;
                            margin: auto;
                            font-size: 16px;
                            color: #fff;
                            text-align: center;
                            line-height: 27px;
                            background-color: $light-yellow;
                        }
                    }
                }
            }
            &:last-child {
                td.ng-star-inserted {
                    &:first-child {
                        span::before {
                            content: url(/assets/guide4.jpg);
                        }
                    }
                    &:nth-child(4) {
                        span {
                            padding: 3% 16%;
                            border-radius: 14px;
                            margin: auto;
                            font-size: 16px;
                            color: #fff;
                            text-align: center;
                            line-height: 27px;
                            background-color: #ff6633;
                        }
                    }
                }
            }
        }
    }

    .ui-widget-content,
    .ui-datatable-even,
    .ui-datatable-odd {
        background: #fff;
        border: none;
        background-color: #fff;
        color: $font-color;
        font-size: 15px;
        text-align: center;
    }

    .recentOrdersTable .ui-datatable .ui-datatable-data > tr > td {
        background-color: $light-blue;
    }

    .ui-datatable tbody > tr.ui-widget-content.ui-datatable-odd {
        background-color: #fff;
    }

    .ui-datatable .ui-datatable-data > tr > td {
        border-width: 0px;
    }
}

@media screen and (max-width: 1280px) {
    .recentOrdersTable .ui-datatable-tablewrapper .ui-state-default,
    .recentOrdersTable .ui-widget-content,
    .recentOrdersTable .ui-datatable-even,
    .recentOrdersTable .ui-datatable-odd {
        font-size: 11px;
    }
    .recentOrdersTable tbody.ui-datatable-data tr.ui-widget-content:first-child td.ng-star-inserted:nth-child(4) span,
    .recentOrdersTable tbody.ui-datatable-data tr.ui-widget-content:nth-child(3) td.ng-star-inserted:nth-child(4) span,
    .recentOrdersTable tbody.ui-datatable-data tr.ui-widget-content:nth-child(2) td.ng-star-inserted:nth-child(4) span,
    .recentOrdersTable tbody.ui-datatable-data tr.ui-widget-content:last-child td.ng-star-inserted:nth-child(4) span {
        font-size: 12px;
    }
}