.ui-widget-header {
  background: #fff;
}

.ui-panel {
  box-shadow: 0 0 4px 1px #bdc1c5;
}

.panel-header {
  display: inline-block;
  color: #777777;
  font-size: 13px;
  padding: 10px 10px;
  font-weight: 600;
}

.panel-tools {
  display: inline-block;
  float: right;
  font-size: 17px;
  color: #a8a8a8;
}

.panel-tools i {
  padding: 10px 10px;
}

.item {
  display: inline-block;
  width: 20%;
  padding: 2% 0% 2% 10%;
}

.item:first-child {
  padding-left: 5%;
}

.recentOrdersTable .ui-datatable-tablewrapper {
  border: none;
}

.recentOrdersTable .ui-datatable-tablewrapper .ui-state-default {
  border: none;
  border-bottom: 1px solid #e8e8e8;
  background: #fff;
  font-size: 15px;
  font-weight: 600;
  color: #777777;
}

.recentOrdersTable tbody.ui-datatable-data tr.ui-widget-content:first-child td.ng-star-inserted:first-child span::before {
  content: url(/assets/guide.jpg);
}

.recentOrdersTable tbody.ui-datatable-data tr.ui-widget-content:nth-child(3) td.ng-star-inserted:first-child span::before {
  content: url(/assets/guide3.jpg);
}

.recentOrdersTable tbody.ui-datatable-data tr.ui-widget-content:first-child td.ng-star-inserted:nth-child(4) span, .recentOrdersTable tbody.ui-datatable-data tr.ui-widget-content:nth-child(3) td.ng-star-inserted:nth-child(4) span {
  padding: 3% 20%;
  border-radius: 14px;
  margin: auto;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 27px;
  background-color: #00cccc;
}

.recentOrdersTable tbody.ui-datatable-data tr.ui-widget-content:nth-child(2) td.ng-star-inserted:first-child span::before {
  content: url(/assets/guide2.jpg);
}

.recentOrdersTable tbody.ui-datatable-data tr.ui-widget-content:nth-child(2) td.ng-star-inserted:nth-child(4) span {
  padding: 3% 12%;
  border-radius: 14px;
  margin: auto;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 27px;
  background-color: #f1a80a;
}

.recentOrdersTable tbody.ui-datatable-data tr.ui-widget-content:last-child td.ng-star-inserted:first-child span::before {
  content: url(/assets/guide4.jpg);
}

.recentOrdersTable tbody.ui-datatable-data tr.ui-widget-content:last-child td.ng-star-inserted:nth-child(4) span {
  padding: 3% 16%;
  border-radius: 14px;
  margin: auto;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 27px;
  background-color: #ff6633;
}

.recentOrdersTable .ui-widget-content,
.recentOrdersTable .ui-datatable-even,
.recentOrdersTable .ui-datatable-odd {
  background: #fff;
  border: none;
  background-color: #fff;
  color: #777777;
  font-size: 15px;
  text-align: center;
}

.recentOrdersTable .recentOrdersTable .ui-datatable .ui-datatable-data > tr > td {
  background-color: #00cccc;
}

.recentOrdersTable .ui-datatable tbody > tr.ui-widget-content.ui-datatable-odd {
  background-color: #fff;
}

.recentOrdersTable .ui-datatable .ui-datatable-data > tr > td {
  border-width: 0px;
}

@media screen and (max-width: 1280px) {
  .recentOrdersTable .ui-datatable-tablewrapper .ui-state-default,
  .recentOrdersTable .ui-widget-content,
  .recentOrdersTable .ui-datatable-even,
  .recentOrdersTable .ui-datatable-odd {
    font-size: 11px;
  }
  .recentOrdersTable tbody.ui-datatable-data tr.ui-widget-content:first-child td.ng-star-inserted:nth-child(4) span,
  .recentOrdersTable tbody.ui-datatable-data tr.ui-widget-content:nth-child(3) td.ng-star-inserted:nth-child(4) span,
  .recentOrdersTable tbody.ui-datatable-data tr.ui-widget-content:nth-child(2) td.ng-star-inserted:nth-child(4) span,
  .recentOrdersTable tbody.ui-datatable-data tr.ui-widget-content:last-child td.ng-star-inserted:nth-child(4) span {
    font-size: 12px;
  }
}
