<div class="ui-g-12 ui-md-12 ui-lg-12">
    <p-panel >
        <p-header>
            <div class="panel-header">
                RECENT ORDER
                <i class="fa fa-caret-down"></i>
            </div>
            <div class="panel-tools">
                <i class="fa fa-chevron-down"></i>
                <i class="fa fa-times"></i>
            </div>
        </p-header>
        <!-- <p-table [columns]="cols" [value]="recentOrders">
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" style="border-bottom: 1px solid #e8e8e8">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-recentOrder let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns">
                            {{recentOrder[col.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-table> -->
    </p-panel>
</div>