@import '..\\dashboard.component';

#earningGraphPanel {
    .ui-widget-header {
        border: none;
    }
}

.ui-panel-footer {
    margin-top: 15px;
}

.chart-details {
    margin-top: 15px;
    margin-bottom: 15px;

    .chart-block {
        padding-left: 13%;

        &:first-child {
            .container {
                border-left: 3px solid $light-green;
            }
        }

        &:nth-child(2) {
            .container {
                border-left: 3px solid $light-yellow;
            }
        }

        &:nth-child(3) {
            .container {
                border-left: 3px solid $light-blue;
            }
        }

        &:last-child {
            .container {
                border-left: 3px solid $darker-blue;
            }
        }

        .container { 
            font-size: 20px;
            padding: 0 0 0 15px;
            .chart-value {
                color: #5c636c;
                font-weight: 600;
            }
            .chart-label {
                color: #a5acb4;
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .chart-details .chart-block .container {
        font-size: 14px;
    }
}

