.search-bar {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  background-color: #fff;
  position: relative;
  margin-top: -10px;
  padding-right: 0.5%;
}

.search-bar .fa-search {
  font-size: 20px;
  line-height: 60px;
  color: #444444;
  float: right;
}

.ui-g {
  margin-top: 35px;
  margin-bottom: 25px;
}

.breadcrumbPath .fa-home:before {
  content: "";
}

.breadcrumbPath .ui-widget-header {
  border: none;
  background: #f1f1f1;
  font-size: 16px;
  color: #444444;
}

.breadcrumbPath .ui-widget-header .fa-chevron-right {
  font-weight: 600;
}

.breadcrumbPath .ui-widget-header .fa-chevron-right:before {
  content: "/";
}

.breadcrumbPath .ui-widget-header .fa-chevron-right:nth-child(2):before {
  content: "";
}

.dropdownBar div.ui-widget {
  border: 1px solid #d6d6d6;
}

.dropdownBar .ui-corner-all {
  border-radius: 0;
}

.dropdownBar .ui-dropdown:hover,
.dropdownBar .ui-dropdown:not(:hover) {
  background-color: #fff;
}

.dropdownBar .ui-dropdown .ui-dropdown-label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  font-weight: normal;
  width: 100%;
  display: inline;
  padding-right: 0em;
  font-size: 14px;
  color: #444444;
  padding-left: 30px;
}

.dropdownBar .ui-dropdown .ui-dropdown-label:hover {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  font-weight: normal;
  width: 100%;
  display: inline;
}

.dropdownBar .ui-dropdown .ui-dropdown-trigger {
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  cursor: pointer;
  height: 100%;
  position: relative;
  display: inline-block;
  padding: .25em;
}

.dropdownBar .ui-dropdown .ui-dropdown-trigger:hover {
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  cursor: pointer;
  height: 100%;
  position: relative;
  display: inline-block;
  padding: .25em;
}

.dropdownBar .ui-state-default {
  border: none;
}

#period-label {
  display: inline-block;
  padding-right: 20px;
  font-size: 16px;
  color: #444444;
}
