.side-menu {
  height: 100%;
  width: 315px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #293744;
  overflow-x: hidden;
}

.side-menu #green-line {
  height: 60px;
  width: 100%;
  background-color: #85c875;
  margin-bottom: 40px;
}

.side-menu .menu-category {
  color: #bed1e4;
  padding: 15px 25px;
}

.side-menu .generalMenuItems .ui-menuitem {
  background-color: #293744;
}

.position {
  position: fixed;
  z-index: 2;
}

.position .hide-show-button {
  background-color: #85c875;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  font-size: 18px;
  color: #fff;
  position: relative;
  left: 290px;
  top: 4px;
  text-align: center;
  line-height: 35px;
}

.place-button {
  left: 20px !important;
}

.dashboard {
  transition: all 0.3s;
  margin-left: 315px;
}

.expand {
  margin-left: 0;
}

.hide {
  width: 0;
}
